#about.company-cards
  .card.mb-3
    .row.no-gutters
      .col-md-4
        = image_tag 'company-card-1.jpg'
      .col-md-8
        .card-body
          %p.card-text
            Компания завоевала авторитет, представив серию эксклюзивных парфюмов самого высокого
            качества. Команда тщательно отобрала наиболее подходящие парфюмерные
            композиции одного из ведущих поставщиков парфюмерных эссенций. Также в
            ассортименте были представлены продукты в области специального питания.
            В нашем ассортименте все время появляются уникальные инновационные
            продукты, которые влияют на рынки во многих странах и оказывают пользу миллионам клиентов.

  .card.mb-3
    .row.no-gutters
      .col-md-8
        .card-body
          %p.card-text
            Сетевой маркетинг, по мнению многих специалистов, это один из самых быстрых путей получить финансовую
            независимость, это самая быстрая возможность распоряжаться самостоятельно своим временем,
            воплотить в жизнь свои мечты и стремления. А слово „sen“ - мечта — нераздельно связано с ESSENS.
            %br
            В начале 2016 года в г. Брно мы открыли новый современный офис ESSENS EUROPE. Это событие поставило
            нас в ряд самых успешных компаний в этой области.
      .col-md-4
        = image_tag 'company-card-3.jpg'

  .card.mb-3
    .row.no-gutters
      .col-md-4
        = image_tag 'company-card-4.jpg'
      .col-md-8
        .card-body
          %p.card-text
            В настоящее время одна из наиболее динамично развивающихся MLM компаний
            в Европе, была создана в Чешской Республике осенью 2011 года. Фирма основана на
            сотрудничестве нескольких специалистов в области сетевого маркетинга и ведущих
            специалистов в области разработки и производства косметических средств.