.advantage{style: 'background: #053467; height: 20em;'}
  %h2.title.text-center{style: 'padding-top: 30px; color: azure;'}
    Преимущество компании ESSENS
  .advantage-text.text-center{style: 'color: azure; padding: 60px 60px;'}
    %p
      Широкий ассортимент продукции: духи - эквиваленты мировых брендов, сходство с оригиналами 99%.
      Продукция Aloe Vera: шампуни, кондиционеры для волос, зубные пасты, бальзамы для и после бритья,
      дезодоранты, спрей для тела, антивозрастные крема, различные био добавки: для
      иммунитета, для похудения,для улучшения сна и многое другое…
    %p
      Ассортимент постоянно пополняется