%h3 Возможности Essens после регистрации

#accordionExample.accordion
  .carda
    #headingFour.card-header
      %h2.mb-0
        %button.btn.btn-link{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-target" => "#collapseFour", "data-toggle" => "collapse", :type => "button"}
          Престиж и уникальная продукция
    #collapseFour.show{"aria-labelledby" => "headingFour", "data-parent" => "#accordionExample"}
      .card-body
        Быть представителем компании Essens - это большая честь и гордость. Это
        европейское качество и экологичный подход к жизни. Натуральня косметика с
        алоэ вера, безопасные моющие средства для чистого дома. Но это еще не все
        линейка товаров компании Essens постоянно расширяется, а товары Essens Beauty -
        выбираю звезды отечественной и зарубежной эстрады, как свой любимый товар в косметичке.
  .carda
    #headingOne.card-header
      %h2.mb-0
        %button.btn.btn-link.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-target" => "#collapseOne", "data-toggle" => "collapse", :type => "button"}
          Скидка от -40% на весь товар
    #collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionExample"}
      .card-body
        Пройдя бесплатную регистрацию и предоставиви ваш документ, вы получаете доступ
        в ваш личный кабинет Essens, где вы можете совершать покупки в любое время и при
        этом с большой скидкой
  .carda
    #headingTwo.card-header
      %h2.mb-0
        %button.btn.btn-link.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-target" => "#collapseTwo", "data-toggle" => "collapse", :type => "button"}
          Стань экспертом в сфере ароматов
    #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionExample"}
      .card-body
        Приобрея папку с ароматами и изучив материалы, которые вам предоставляет
        компания - вы начнете отлично разбираться в области парфюмерии. Это может
        остаться вашим хобби или же перерасти в профессию. Решать вам!
  .carda
    #headingThree.card-header
      %h2.mb-0
        %button.btn.btn-link.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-target" => "#collapseThree", "data-toggle" => "collapse", :type => "button"}
          Познакомься с твоим личный куратором (коучем)
    #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordionExample"}
      .card-body
        У каждого нового человека, кто зарегистрировался в Essens есть свой коуч,
        это наставник - человек, которым поможет разобраться с любым вопросом -
        будь то оформление заказа, подбор идеального для вас аромата или же введет
        тебя в мир профессионалов и вы сможете начать свой путь, как арома-стилист