#plans.plan.text-center{style: 'padding-top: 10em;'}
  %h1 Маркетинговый план
  %p{style: 'padding-top: 2em;'}
    Маркетинговый план ESSENS состоит из 4 базовых уровней с месячным и годовым квалификационным периодом.

  .plans{style: 'display: -webkit-inline-box; margin-top: -25px;'}
    .card.text-white.bg-dark.mb-3{:style => "max-width: 28rem;"}
      .card-header I план
      .card-body
        %p.card-text
          Выделяется 28% от оборота всей вашей структуры Все баллы за ваши личные заказы и за заказы всей вашей
          команды складываются в общие баллы, с первого до последнего дня месяца. В зависимости от ваших общих
          баллов вы достигаете соответствующей позиции. Вы можете накапливать свое комиссионное вознаграждение
          в своем электронном кошельке и решать, хотите ли вы снять их со своего банковского счета или использовать
          их для будущих покупок. Комиссионное вознаграждение согласно I плану выплачивается ежемесячно до 20 числа.
          Для выплаты комиссионного вознаграждения согласно І плану необходимо, чтобы личный оборот в данном месяце
          составлял 20 баллов.

    .card.text-white.bg-dark.mb-3{:style => "max-width: 28rem;"}
      .card-header II план
      .card-body
        %p.card-text
          Помогите другим достичь своей мечты и целей, и вы добьетесь успеха! Это четко описывает то, что вы должны
          делать. Когда вы достигнете 1-й или 2-й позиции, вы знаете, как это сделать и как это работает, таким образом
          вы можете поддерживать членов вашей команды, чтобы достичь ее самостоятельно. 2-ой план вознаграждает вас за
          вашу поддержку в нашем типе бизнеса действительно уникальным способом, а именно таким, что Вы получаете выгоду
          от общего оборота компании.

  .plans{style: 'display: -webkit-inline-box;'}
    .card.text-white.bg-dark.mb-3{:style => "max-width: 28rem;"}
      .card-header III план
      .card-body
        %p.card-text
          Выделяется 1% от оборота ESSENS Если вы будете следовать рекомендациям, вы создадите стабильную команду, и вы
          будете вознаграждены согласно третьему плану. Годовая премия выплачивается до 20 января следующего года. Для
          выплаты комиссионного вознаграждения согласно 3-му маркетинговому плану необходимо, чтобы ежемесячный личный
          оборот, в течение всего календарного года, составлял 100 баллов.
    .card.text-white.bg-dark.mb-3{:style => "max-width: 28rem;"}
      .card-header IV план
      .card-body
        %p.card-text
          Выделяется до 3% от оборота вашей квалифицированной линии (линий) 4-й план вознаграждает членов за построение
          структуры в глубину и поддержку для достижения Silver Manager (SM) и выше. Для выплаты комиссионного вознаграждения
          согласно 4-му маркетинговому плану необходимо, чтобы ежемесячный личный оборот, в данном месяце составлял 100 баллов.
          Double Silver Manager (DSM) получает 2% от оборота своих линий SM до следующего DSM или Gold Manager (GM) и выше.